{% load static %}
<!DOCTYPE html>
<html lang="en" dir="Itr">
<head>

<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
</head>
<body style="background-color:powderblue;">
  <h1> Hatetrend</h1>
  <h2>Select Language</h2>
  <div class="container">
    <form action="English">
    <button class="btn btn2">English</button>
    </form>
<form action="Urdu">
    <button class="btn btn2">Urdu</button>
</form>
<form action="Romanurdu">
    <button class="btn btn2">Roman Urdu</button>
    </form>
  </div>

</body>

</html>
